{% extends 'research_funding/base.html' %}

{% block title %}Scientific fields{% endblock %}

{% block link_fields %}active{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Scientific fields</li>
{% endblock %}

{% block main %}
<h2>Scientific fields</h2>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
	<tr>
          <th>Title</th>
          <th>Description</th>
	  <th>Project count</th>
          <th>Active projects and researchers</th>
	</tr>
      </thead>
      <tbody>
	{% for scientific_field in scientific_fields %}
	<tr>
          <td>{{ scientific_field.title }}</td>
          <td>{{ scientific_field.description }}</td>
	  <td>{{ scientific_field.project_count }}</td>
          <td>
	      <a class="btn btn-primary active" role="button" aria-pressed="true" href="{% url 'scientific_field_projects_and_researchers' scientific_field.title|slugify %}">Open <i class="bi bi-link"></i></a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
