{% extends 'research_funding/base.html' %}

{% block title %}Projects for scientific field '{{ scientific_field.title}}'{% endblock %}

{% block link_fields %}active{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'scientific_field_index' %}">Scientific fields</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ scientific_field.title}}</li>
{% endblock %}

{% block main %}
<h2>Projects for scientific field '{{ scientific_field.title}}'</h2>
<p>
  {{ scientific_field.description}}
</p>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
	<tr>
          <th>Title</th>
          <th>Start date</th>
	  <th>End date</th>
          <th>Researchers</th>
	</tr>
      </thead>
      <tbody>
	{% for project in project_researchers %}
	<tr>
          <td>{{ project.project_title }}</td>
          <td>{{ project.project_start_date }}</td>
	  <td>{{ project.project_end_date }}</td>
	  <td>
	    <ul class="list-group">
	      {% for researcher in project.researchers %}
	      <li class="list-group-item">
		{{ researcher.last_name }},
		{{ researcher.first_name }}
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
