{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Group 130 - Research Funding Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block link_home %}{% endblock %}">
	<a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item dropdown {% block link_researchers %}{% endblock %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarResearchersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Researchers
	</a>
        <div class="dropdown-menu" aria-labelledby="navbarResearchersDropdown">
          <a class="dropdown-item" href="{% url 'young_researchers' %}">Young</a>
          <a class="dropdown-item" href="{% url 'inactive_researchers' %}">Inactive</a>
          <a class="dropdown-item" href="{% url 'projects_per_researcher' %}">With projects</a>
        </div>
      </li>
      <li class="nav-item dropdown {% block link_fields %}{% endblock %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarFieldsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Scientific Fields
	</a>
        <div class="dropdown-menu" aria-labelledby="navbarFieldsDropdown">
          <a class="dropdown-item" href="{% url 'scientific_field_index' %}">All</a>
          <a class="dropdown-item" href="{% url 'scientific_field_pairs' %}">Pairs</a>
        </div>
      </li>
      <li class="nav-item dropdown {% block link_managers %}{% endblock %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarManagersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Managers
	</a>
        <div class="dropdown-menu" aria-labelledby="navbarManagersDropdown">
          <a class="dropdown-item" href="{% url 'managers_highest_funding' %}">Highest Funding</a>
        </div>
      </li>
      
</ul>
    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'project_search_form' %}">Search</a>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% block home_breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
    {% endblock %}
    {% block breadcrumb %}
    {% endblock %}
  </ol>
</nav>
{% endblock %}
{% block content %}
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
  {% block main %}
  {% endblock %}
</main>
{% endblock %}
