{% extends 'research_funding/base.html' %}

{% load static %}

{% block title %}Project search{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Projects</li>
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <div class="row">
	<div class="col-md-10 mb-3">
          <label for="searchInput">Project title</label>
          <input type="text" class="form-control" id="searchInput" placeholder="Search inside the project title">
	</div>
	<div class="col-md-2 mb-3">
	  <label for="resetBtn"><span class="text-muted">Reset the form</span></label>
	  <input type="button" class="btn btn-outline-danger btn-block" id="resetBtn" role="button" aria-pressed="true" href="#" value="Reset form">
	</div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-3">
          <label for="programInput">Department and program</label>
	  <select class="custom-select d-block w-100" id="programInput">
	    <option value='*,*'>
	      All programs
	    </option>
	    {% for program in programs %}
	    <option value='{{ program.name }},{{ program.department_name }}'>
	      {{ program.department_name }}: {{ program.name  }}
	    </option>
	    {% endfor %}
	  </select>
        </div>
	<div class="col-md-4 mb-3">
          <label for="managerInput">Manager</label>
	  <select class="custom-select d-block w-100" id="managerInput">
	    <option value='*'>
	      All managers
	    </option>
	    {% for manager in managers %}
	    <option value='{{ manager.id }}'>
	      {{ manager.last_name }} {{ manager.first_name }}
	    </option>
	    {% endfor %}
	  </select>
        </div>
      </div>
      <div class="row">
	<div class="col-md-3 mb-3">
          <label for="dateMinInput">Start date, min:</label>
	  <input type="date" value="{{ start_date_limits.min.isoformat }}" class="form-control" id="dateMinInput">
	</div>
	<div class="col-md-3 mb-3">
          <label for="dateMaxInput">Start date, max:</label>
	  <input type="date" value="{{ start_date_limits.max.isoformat }}" class="form-control" id="dateMaxInput">
	</div>
	<div class="col-md-3 mb-3">
          <label for="durationMinInput">Duration, min <span class="text-muted">(in months)</span></label>
	  <input type="number" value="12" min="12" max="48" class="form-control" id="durationMinInput">
	</div>
	<div class="col-md-3 mb-3">
          <label for="durationMaxInput">Duration, max <span class="text-muted">(in months)</span></label>
	  <input type="number" value="48" min="12" max="48" class="form-control" id="durationMaxInput">
	</div>
      </div>
      <hr class="mb-4">
      <div id="searchResults">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% url 'project_search_javascript' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/research_funding/project/search.css' %}">
{% endblock %}
